
body {

}

#form-holder, #message-holder, #result-holder {
  margin: 5px 2%;
  padding: 2%;
  border: 1px solid #000000;
  box-shadow: 0 0 5px grey;
}

#form-holder {

}

#message-holder {

}

#result-holder {

}

#footer {

}